body {
    background-color: #FBECEB;
    font-family: Arial, Helvetica, sans-serif;

}

h1,
h2 {
    color: #FEB249;
    text-align: center;
    font-size: 60px;
    margin: 0px;
}

.project-tile {
    background: #FEB249;
    width: 200px;
    height: 200px;
    padding: 10px;
    color: #FBECEB;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
}

#projects {
    display: flex;
    justify-content: center;
    margin-top: 1000px;
    font-size: 25px;
}

@media screen and (max-width: 500px) {
    body {
        background-color: lightgreen;
    }
}

#profile-link {
    color: #53D3D1;
    text-decoration: none;


}

#links {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;


}

#navbar a {
    color: #53D3D1;
    margin: 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}