body {
    background-color: #FBECEB;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    color: #FEB249;
    text-align: center;
    font-size: 60px;
    margin: 0px;
}

#welcome-section {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}

#welcome-section h1 {
    width: 100%;
}

#welcome-section h2 {
    width: 100%;
    font-size: 40px;
}

#projects {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 78px;
}

#project-tile-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
}

.project-tile {
    background: #FEB249;
    width: 400px;
    height: 400px;
    padding: 10px;
    color: #FBECEB;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

@media screen and (max-width: 500px) {
    body {
        background-color: lightgreen;
    }
}

#profile-link {
    color: #53D3D1;
    text-decoration: none;
}

#links {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

#navbar a {
    color: #53D3D1;
    margin: 30px;
    text-decoration: none;

}

.project-tile img {
    width: 100%;
    height: auto;
}

#contact {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#contact h2 {
    width: 100%;
}

.icons {
    width: 25px;
}

.contact-method {
    color: #FEB249;
    margin: 25px;
}

#planets-section {
    padding-top: 78px;
}

#planets {
    display: flex;
    flex-wrap: wrap;
}

#planets li {
    border: 3px solid purple;
    margin: 5px;
    list-style: none;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

#planets h3 {
    width: 100%;
    text-align: center;
}

#planets div {
    width: 100%;
    text-align: center;
}

#people-section {
    padding-top: 78px;
}